body{
margin: 0;
padding: 0;
background-image: linear-gradient(#421181, yellow);
}

.water{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 0;
    top: 90%;
    animation: fall 2s linear infinite;
    background: linear-gradient(#00f2fe, #4facfe);
}
.container{
    text-align: center;
    padding: 20px;
}

@keyframes fall {
  0% 
  {
    top: -90%;
  }
  100% {
    top: 90%;
  }
}
body{
    width: 150;
    top: 50%;
    font-weight: italic;
    font-size: 50;
    text-align: center;
    color: yellow;
}